/* website/src/components/ColorModeToggle.module.css */
.container {
  display: flex;
  align-items: center;
}

.toggle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: var(--ifm-menu-color-background-active);
  transition: background var(--ifm-transition-fast) var(--ifm-transition-timing-default);
}

.toggle:hover {
  background: var(--ifm-menu-color-background-hover);
}

.toggleIcon {
  font-size: 1.2rem;
}